langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pdfminer
python-docx
docx2txt
unstructured[docx]
pandas
openpyxl
matplotlib
langchain-huggingface
sentence-transformers